body {
    font-family: "Ubuntu Mono", sans-serif;
    margin: 0;
}
.compute {
    display: grid;
    width: 45vmin;
    height: 60vmin;
    margin: calc((100vh - 60vmin)/2) calc((100vw - 45vmin)/2);
    box-sizing: border-box;
    border: 1px solid darkgrey;
    grid-template-columns: 1fr 1fr 1fr;
}
.compute label {
    display: flex;
    justify-content: center;
}
.compute input:hover {
    box-shadow: inset 0 0 15px aqua;
}
.compute input {
    cursor: pointer;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    display: inline-block;
    text-align: center;
    font-family: "Ubuntu Mono", sans-serif;
    border: none;
    font-size: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.result {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 3vmax;
}